{% extends 'journal/base.html' %}
{% block title %}
    <title>Activities</title>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>Depresso Meter</h2>
    {% if percentage > 60 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"  
                role="progressbar" aria-valuenow="{{ negative }}" aria-valuemin="0" aria-valuemax="{{ max }}" style="width: {{ percentage|floatformat:0 }}%">
            {{ percentage|floatformat:0 }}%
            </div>
        </div>
    {% elif percentage <= 50 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"  
                role="progressbar" aria-valuenow="{{ negative }}" aria-valuemin="0" aria-valuemax="{{ max }}" style="width: {{ percentage|floatformat:0 }}%">
            {{ percentage|floatformat:0 }}%
            </div>
        </div>
    {% else %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"  
                role="progressbar" aria-valuenow="{{ negative }}" aria-valuemin="0" aria-valuemax="{{ max }}" style="width: {{ percentage|floatformat:0 }}%">
            {{ percentage|floatformat:0 }}%
            </div>
        </div>
    {% endif %}
</div>

<h3>Debugging:</h3>
{% if positive > negative %}
    <p>More Positives</p>
{% else %}
    <p>More Negatives</p>
{% endif %}

<span>P: {{ positive }}</span>
<span>N: {{ negative }}</span>

<h1>Activities:</h1>
{% for i in activities %}
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <p>{{ i }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}