{% extends 'journal/base.html' %}
{% block title %}
    <title>Help</title>
{% endblock %}

{% block content %}

    <h2>Befrienders</h2>
    <ul>
        <li><strong>Contacts: </strong></li>
        <ul>
            <li>Contact for inquiries, feedback and suggestions:</li>
            <ul>
                <li>H/P Number: <a href="tel:60379571306">603-79571306 [9am - 5pm]</a></li>
                <li>Email: <a href="mailto:admin@befrienders.org.my">admin@befrienders.org.my</a></li>
            </ul>
            <li>Emotional support hotline:</li>
            <ul>
                <li>H/P Number: <a href="tel:60379568145">603-79568145 [24 hours]</a></li>
                <li>Email: <a href="mailto:sam@befrienders.org.my">sam@befrienders.org.my</a></li>
            </ul>
        </ul>
        <li><strong>Website: </strong><a href="https://www.befrienders.org.my/">Befrienders.org.my</a></li>
        <li><strong>Location: </strong><a href="https://goo.gl/maps/gMSWv534KCzDXsoZ6">Google Maps</a></li>
    </ul>

{% endblock %}